table.tonjoo-pwa-permissions th, 
table.tonjoo-pwa-permissions td {
	padding: 8px 10px;
}
.tonjoo-pwa-permissions th {
	text-align: center;
	font-weight: 400;
	font-size: 13px;
}
.tonjoo-pwa-permissions thead tr th {
	background: #CCCCCC;
}
.tonjoo-pwa-permissions td {
	padding: 7px;
	font-family: "Courier 10 Pitch",Courier,monospace;
	color: #262626;
	border-bottom: 1px solid #F2F2F2;
	border-top: none;
}
.tonjoo-pwa-permissions .text-left {
	text-align: left;
}
.tonjoo-pwa-permissions .text-center {
	text-align: center;
}
.tonjoo-pwa-permissions .text-right {
	text-align: right;
}
.tonjoo-pwa-permissions .text-justify {
	text-align: justify;
}
.tonjoo-pwa-permissions .is-writeable {
	background-color: #C8F18B;
}
.tonjoo-pwa-permissions .is-readable {
	background-color: #FD6D73;
}

.tabbed-content {
	margin-bottom: 30px;    
}
.tabbed-content .inner-content {
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 15px;
}
.tabbed-content > .tab-pane > .tab-item {
	margin-bottom: 0;
	margin-top: -28px;
}
.tabbed-content > .tab-pane > .tab-item .menu.active {
	border-color: #ddd;
}
.tabbed-content .tabbed-mode {
	background-color: #fff;
	padding: 15px;
	border: 1px solid #ddd;
}
.tabbed-content .tab-pane {
	display: none;
	-webkit-transition: all 0.2s ease-out;
       -moz-transition: all 0.2s ease-out;
         -o-transition: all 0.2s ease-out;
			transition: all 0.2s ease-out;
}
.tabbed-content .tab-pane.active {
	display: block;
}

.pwa_optimizer .metaboxholder {
	padding-bottom: 10px;
}

td .list {
	margin-bottom: 20px;
}
